@import "../../styles/colors";

.popover-item {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  text-decoration: none;
  color: $text-main-color;
  white-space: nowrap;

  &__img {
    margin-right: 15px;
  }
}