.profile-avatar {
    position: relative;
    @extend %vh-centered;
    width: 130px;
    height: 130px;
    background: $input-color;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}
