.chat-item {
  position: relative;
  display: flex;
  border-top: 1px solid $border-color;
  padding: 12px 10px 12px 0;
  margin: 0 10px;
  cursor: pointer;

  &--active {
    margin: 0;
    padding-left: 10px;
    background: #e4edfd;
    .chat-item__time {
      right: 10px;
    }
  }

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    overflow: hidden;
    background: $input-color;
    margin-right: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 43px);
  }

  &__name {
    margin: 0 0 4px 0;
    color: $text-main-color;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__message {
   height: 30px;
   overflow: hidden;
    width: 84%;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
  }

  &__time {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 9px;
    line-height: 13px;
    color: #999999;
  }
}
