{{#extend "base"}}
    {{#content "body"}}
        <section class="login">
            <div class="form">
                <h1 class="form__title">Вход</h1>
                <form>
                    {{> field label="Логин" name="login" type="text"}}           
                    {{> field label="Пароль" name="password" type="password"}} 
                    <div class="login__btns">
                        {{> button label="Авторизоваться" class="form__button"}} 
                        {{> link label="Нет аккаунта?" href="./register.hbs" class=""}} 
                    </div>        
                </form>
            </div>
        </section>
    {{/content}}
{{/extend}}
