<a class="chat-item {{#if this.active}} chat-item--active{{/if}}">
  <div class="chat-item__avatar">
     
  </div>
  <div class="chat-item__content">
      <p class="chat-item__name">{{name}}</p>
      <p class="chat-item__message">{{message}}</p>
  </div>
  <time class="chat-item__time">{{time}}</time>
</a>