<div class="modal">
    <h3 class="modal__title">{{title}}</h3>
    <div class="modal__fields">
        {{> field label="Логин" name="login" type="text"}}
    </div>
    <div class="modal__actions">
        {{> button label="Добавить"}} 
    </div>
</div>