
<table class="profile-data">
  <tbody>
    {{#each this}}
      <tr>
        <td class="profile-data__label">          
          {{label}}
        </td>
        <td class="profile-data__value">
          {{value}}
        </td>
      </tr>
    {{/each}}    
  </tbody>
</table>
