<ul>
    <li><a href="./pages/login.hbs">Логин</a></li>
    <li><a href="./pages/register.hbs">Регистрация</a></li>
    <li><a href="./pages/chat.hbs">Чат</a></li>
    <li><a href="./pages/profile.hbs">Профиль</a></li>
    <li><a href="./pages/profile-change-password.hbs">Изменить пароль</a></li>
    <li><a href="./pages/profile-edit.hbs">Изменить данные</a></li>
    <li><a href="./pages/404.hbs">Страница 404</a></li>
    <li><a href="./pages/500.hbs">Страница 500</a></li>
    
</ul>